<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ note.name }}</title>
    <meta name="description" content="{{ meta.description }}">
    <link rel="stylesheet" href="{{ staticBasePath }}/styles.css" media="screen">
    <link rel="icon" href="{{ staticBasePath }}/favicon.ico">
</head>
<body>
    {{ note.text }}
</body>
</html>
